params {
    input        = null
    outdir       = 'results'

    model        = 'gemma4'
    think        = true
    review       = false
    review_passes = 2
    whole_report = false
    synthesis    = true
    prompt       = null
    num_ctx      = 32768
    temperature  = null
    seed         = null
    top_p        = null
    top_k        = null
    num_predict  = null
    ollama_models_dir = null
}


profiles {
    docker {
        docker.enabled = true
    }
    native {
        docker.enabled = false
    }
    igs {
        apptainer {
            enabled = true
            autoMounts = true
            pullTimeout = '60m'
        }
        params {
            slurm_account = null
        }
        process {
            executor = 'slurm'
            clusterOptions = {
                "-A ${params.slurm_account?.toString()?.trim()}" : ''
            }
            errorStrategy =  'retry'
            maxRetries = 3
            withLabel: 'process_gpu' {
                // Allocate a gpu
                clusterOptions = "--gres=gpu:1 -A ${params.slurm_account?.toString()?.trim()}"
                // Enable Nvidia in apptainer and mound ollama dir
                containerOptions = "--nv -B ${params.ollama_models_dir}"
            
            // Allocate matching CPU/RAM to feed the GPU
            cpus = 2
            memory = '8.GB'
            time = '1h'
            }
        }
    }
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/timeline.html"
    overwrite = true
}

